<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Login</title>
    {% load static %}

    <script src="{% static 'ninja_gold/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'my_app/css/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="login" class="login-content">
            <div class="login-header">
                <h2>Login</h2>
            </div>
            {% block content %}
            <form method="POST" class="form">
                {% csrf_token %}
                {{form}}
                <p>Don't have an account? Create one <a href="/register">here</a></p>
                <button type="submit" class="btn-v">Login</button>
            </form>
            {% endblock %}
            </form>
        </div>
    </div>
</body>

</html>